{%block content%}
  {% load staticfiles%}
 <link rel="stylesheet" href="{% static 'personal/css/top-banner-style.css'%}" charset="utf-8" type="text/css" />
    <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed text-center" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="{% url 'home:index' %}"><strong>Welcome to Gong Zhang's Website</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav nav-pills navbar-right ">
                        <li ><a href="{% url 'home:index' %}">Home</a></li>
                        <li ><a href="{% url 'blogs:List' %}">Blog</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Projects
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'games:welcome' %}">Webgame</a></li>
                              <li role="separator" class="divider"></li>
                            <li><a href="#">Dating Simulation</a></li>
                          </ul>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->
{%endblock%}