 {%block content%}
 {% load staticfiles%}
<div class="thumbnail">
            <img class="img-responsive" src="http://www.dianaglavnik.com/uploads/sites/2578/public/keep-calm-and-visit-my-blog-20.png" alt="my blog pic">
            <div class="caption">
              <h3>My Personal Blog</h3>
              <p>something about project 3(Under Construction)</p>
              <p>
                  <a href="/blog" class="btn btn-primary" role="button">Learn more</a> 
                  <a href="#" class="btn btn-default" role="button">Source Code</a>
                </p>
            </div>
          </div>
 {%endblock%}