 {%block content%}
 {% load staticfiles%}
<div class="thumbnail">
            <img class="img-responsive" src="http://www.dianaglavnik.com/uploads/sites/2578/public/keep-calm-and-visit-my-blog-20.png" alt="my blog pic">
            <div class="caption">
              <h3>My Personal Blog</h3>
              <p>This is the first project I did along with the website
              itself. I followed a course about making a website on Django
              framework. And this blog application was the example. So, this
              project helped me learnt:
            <ul>
                <li>Django project structure, like views, urls, and setting,
                    admin modules to manage the website.</li>
                <li>Django model class and how it's an abstraction of data
                    base interface int order to mangage data inplace rather
                    than write another piece of data base code to manage data.</li>
            </ul>  </p>
            <p>Please also note that this blog app, like the webgame app, mainly
            serves as an exercise for me to get the idea of web development
            rather than an actual functioning app, but I have plans to improve
            it to a well-designed blog module like so many other examples
            online. The first step is to impletment a index panel that could
            sort or retrieve entries based on date or most recent updates. And
            also a coment section.  </p>
              <p>
                  <a href="{%url 'blogs:List'%}" class="btn btn-primary" role="button">Learn more</a> 
                  <a
                      href="https://github.com/Gontreal/hello-django/tree/master/blog" class="btn btn-default" role="button">Source Code</a>
                </p>
            </div>
          </div>
 {%endblock%}
