 {%block content%}
 {% load staticfiles%}
<div class="thumbnail">
            <img class="img-responsive" src="http://prodimage.images-bn.com/pimages/9780321884916_p0_v2_s1200x630.jpg" alt="web game">
            <div class="caption">
              <h3>Web Game</h3>
              <p>something about project 1</p>
              <p>
                  <a href="{% url 'games:welcome' %}" class="btn btn-primary" role="button">Learn more</a>   
                  <a href="#" class="btn btn-default" role="button">Source Code</a>
             </p>
            </div>
          </div>
 {%endblock%}
 