 {%block content%}
 {% load staticfiles%}
<div class="thumbnail">
            <img class="img-responsive" src="http://cdn.quotesgram.com/img/51/80/1102522291-online-dating2-1h3togt.jpg" alt="image of projcect 2">
            <div class="caption">
              <h3>A match making simulation</h3>
              <p>This project is the major reason why I made this website. It
              was originally a c++ project that a friend of mine introduced to
              me. Back then, I just finished studying c++ from C++ Premier and
              half way through the study of algorithms and data structures, and
              this was the start project for me to get my hand dirty.
              It involves implementing an efficient sorting algorithm for the
              matching process(I uesed priority queue), and a soid structure
              of classes working together to encapsulate the algorithm and
              to handle this matching process. Detail specs and explainations are in
              the project page and my blog.</p>
              <p> The main featrue of this project is as follows:
              <ul>
                  <li>High perfromance c++ code with well designed algorithmic
                      and data structure implementation.</li>
                  <li>Hybrid programming(python and c++) powered by boost library to
                  make the original program interact with Django yet ensure
                  its level of performace.</li>
                  <li>Implemented AJAX protocol with jQuery to enhance the
                      response time of the program and delegate some tasks to
                      client side. </li>
              </ul>
              </p>
              <p> Click learn more button to visit the
              project page and source code button to view the independent
              project of this web application. </p>
              <p>
                  <a href="{%url 'matches:intro'%}" class="btn btn-primary" role="button">Learn more</a> 
                  <a href="https://github.com/Gontreal/Match-Making-Simulation" class="btn btn-default" role="button">Source Code</a>
              </p>
            </div>
          </div>
 {%endblock%}
