 {%block content%}
 {% load staticfiles%}
<link rel="stylesheet" href="{% static 'personal/css/social-icon-style.css'%}" charset="utf-8" type="text/css" />
 <div class="sicon">
  <div class="col-md-1 col-sm-3 col-xs-6 text-center">
    <div class="icon-circle">
      <a href="https://www.facebook.com/profile.php?id=100006437729513" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
    </div>
  </div>

  <!-- <div class="col-md-1 col-sm-3 col-xs-6 text-center">
    <div class="icon-circle">
      <a href="https://twitter.com/IMP_ZG" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
  </div> -->

  <div class="col-md-1 col-sm-3 col-xs-6 text-center">
    <div class="icon-circle">
      <a href="https://github.com/Gontreal" class="igithub" title="Github"><i class="fa fa-github"></i></a>
    </div>
  </div>

  <div class="col-md-1 col-sm-3 col-xs-6 text-center">
    <div class="icon-circle">
      <a href="https://www.linkedin.com/in/gong-zhang/" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
   </div>

</div>
 {%endblock%}
