{% extends "personal/header.html"%}


 {% block content %}
    <div class="row">
	
        <div class="col-md-10">
            <table>
                {% for post in object_list %}
                    <h5 >{{ post.date|date:"Y-m-d" }} <a href="{% url 'blogs:Detail' post.id %}" >{{post.title}} </a></h5>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-2">
           <div id="sidebar">
            <ul class=" nav nav-tabs nav-stacked">
              <li role="presentation" ><a href="#intro" >About me</a></li>
              <li role="presentation" ><a href="#projects">Projects I've Done</a></li>
              <li role="presentation" ><a href="#contact-info">Contact me</a></li>

            </ul>
            </div>
        </div> 
    </div>
{%endblock%}

