{% extends "personal/header.html"%}

{% block content %}
<a id="top-page"></a>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8 col-sm-12">
            <div class="container-fluid">
               <h3>{{post.title}}</h3>
                <h6 class="text-center">on {{post.date}}</h6>
                <div >
                    {{post.body|safe|linebreaks}}
                </div>
            </div>
        </div>
         <div class="col-md-2">
             <div id="sidebar">
            <ul class=" list-group">
              <li role="presentation" class="list-group-item disabled"><a
                      href="#"> Related Posts</a></li>
              <li role="presentation" class="list-group-item disabled"><a
                      href="#">Comment Section</a></li>
              <li role="presentation" class="list-group-item"><a
                      href="#top-page">Back to Top</a></li>
            </ul>
            </div>
     </div>
    </div>
</div>

{%endblock%}
